.inputText {
  width: 25%;
  position: relative;
}
.input {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 0 1px lightgrey;
  padding: 5px;
  width: 90%;
  /*overflow: hidden;*/
  overflow-x: scroll;
  scroll-behavior: smooth;
  position: relative;
  z-index: 9;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.input::-webkit-scrollbar {
  display: none;
}

.inputSubmitWrong {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #ff4c4c;
  padding: 5px;
  width: 90%;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: 9;
}
.spanText {
  color: #808080;
  padding-right: 10px;
  padding: 5px;
  user-select: none;
}
.inputActive {
  width: 200px;
  outline: none;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 5px;
  color: #808080;
}
.cities p {
  color: black;
}
.content {
  display: flex;
  flex-direction: row;
  user-select: none;
}
@media only screen and (max-width: 800px) {
  .inputText {
    width: 50%;
    position: unset;
  }
  .input {
    width: 98%;
  }
}
@media only screen and (max-width: 400px) {
  .inputText {
    width: 100%;
  }
}
