.submitButtonDiv {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button {
  margin-right: 25px;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #028878;
  color: white;
  font-weight: 500;
  font-size: 21px;
  position: relative;
  z-index: 9;
}
.button:hover {
  background-color: #00a991;
}
.disabled {
  margin-right: 25px;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #a6c5c0;
  color: white;
  font-weight: 500;
  font-size: 21px;
  position: relative;
  z-index: 9;
}
@media only screen and (max-width: 800px) {
  .button {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .disabled {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .submitButton {
    width: 100%;
  }
}
