.main {
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*background-color: #f4fffc;*/
  background-color: #ecf7fc;
  width: 100%;
  padding-top: 25px;
}
@media only screen and (max-width: 1150px) {
  .main {
    flex-direction: column;
  }
}
