.banner {
  width: 100%;
  height: 500px;
  background-color: #028878;
}
.bannerContent {
  width: max(800px, 60vw);
  margin: 0 auto;
  height: 80%;
  margin-top: 50px;
}
.flightForm {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  margin-top: 15px;
  height: 200px;
  padding: 10px;
  padding-top: 25px;
  gap: 4px;
}
.pathDateInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .banner {
    height: 600px;
  }
  .bannerContent {
    width: 100%;
  }
  .flightForm {
    height: 350px;
  }
  .pathDateInfo {
    flex-direction: column;
    gap: 5px;
  }
}
