.itemPopularDestination {
  position: relative;
  aspect-ratio: 1/1;
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}
.itemPopularDestinationWide {
  position: relative;
  height: 300px;
  width: 625px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
  object-fit: cover;
}

.cityInfo {
  position: absolute;
  background-color: white;
  padding: 15px;
  height: 35%;
  bottom: -45px;
  width: 100%;
  color: black;
  font-size: 18px;
}
.itemPopularDestination img {
  border-radius: 15px;
}
.itemPopularDestinationWide img {
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
  height: auto;
}

@media only screen and (max-width: 1300px) {
  .itemPopularDestinationWide {
    width: 300px;
  }
  .itemPopularDestinationWide img {
    min-height: 300px;
  }
}
