.inputPersonel {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 9;
  width: 350px;
}
.modal {
  width: 350px;
  position: relative;
}
